<header class="drive-header">
    <nav>
        <ul class="user-profile-nav">
            <li><a href="/user/<%= name %>" class="user-profile-link"><%= name %></a></li>
            <li><a href="/auth/logout" class="logout-link">Logout</a></li>
        </ul>
    </nav>
</header>