<footer class="drive-main-buttons-container">
    <% if(!folderId) {%>
        <a href="/myDrive/createFolder" class="create-folder-button">Create Folder</a>
        <a href="/myDrive/upload" class="upload-files-button">Upload Files</a>
        <% } %>

    <% if (folderId) { %>
        <a href="/myDrive/createFolder?folderId=<%= folderId %>" class="create-folder-button">Create Folder</a>
        <a href="/myDrive/upload?folderId=<%= folderId %>" class="upload-files-button">Upload Files</a>
    <% } %>
</footer>