<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/home.css">
    <title>Home</title>
  </head>
  <body>
    <header>
      <h1>
        File Uploader
      </h1>
      <nav>
        <% if(!authenticated) {%>
        <ul class="home-nav-list">
          <li>
            <a href="/auth/signup" class="home-button">Signup</a>
          </li>
          <li>
            <a href="/auth/login" class="home-button">Login</a>
          </li>
        </ul>
        <% } %>
        <% if(authenticated) {%>
            <a href="/myDrive" class="home-button">Open Drive</a>
        <% } %>
      </nav>
    </header>

    <section class="card-container">
      <div class="card">
          <h2>Free Signup</h2>
          <p>Signup is free! just enter a username and password to get Started.</p>
      </div>

      <div class="card">
        <h2>Free upload</h2>
        <p>Upload files up to 5MB in sizes. Allowed file types are (.txt, .jpg, .jpeg, .png, .mp4)</p>
    </div>

    <div class="card">
      <h2>Folders</h2>
      <p>Organize your files in folders, create as many as you want.</p>
    </div>
  
    <div class="card">
      <h2>Shareable links</h2>
      <p>Create shareale links to you file that will be valid for 24 hours.</p>
  </div>
    </section>
  </body>
</html>
