<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/signup.css">
    <title>Login</title>
</head>
<body>
    <form action="/auth/login" method="post">
        <fieldset>
            <legend>Login</legend>
            <div>
                <label for="username">Name:</label>
                <input type="text" minlength="4" id="username" name="username" autocomplete="username" required>
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" minlength="4" id="password" name="password" autocomplete="current-password" required>
            </div>

            <div>
                <% if(errorMsg) {%>
                    <span class="error"><%= errorMsg %></span>
                <% } %>
            </div>
            
            <div>
                <button type="submit">Login</button>
                <a href="/" class="cancel-button">Cancel</a>
            </div>
        </fieldset>
    </form>
</body>
</html>