<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/auth/login" method="post">
        <fieldset>
            <legend>Login</legend>
            <div>
                <label for="username">Name:</label>
                <input type="text" minlength="4" id="username" name="username" autocomplete="username" required>
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="text" minlength="4" id="password" name="password" autocomplete="current-password" required>
            </div>

            <button type="submit">Login</button>
        </fieldset>
    </form>
</body>
</html>