:root {
    --primary-light-text-color: #09090b;
    --button-text-color: #fafafa;
    --button-box-shadow-color: #a1a1a1;
    --light-red-color: #fb2c36;
    --dark-red-color: #9f0712;
    --light-gray: #e4e4e7;
    --primary-blue: #1447e6;
    --secondary-blue: #1c398e;
  }

body {
    display: grid;
    grid-template-columns: minmax(auto, 400px);
    place-content: center;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--primary-light-text-color);
    font-size: 1.2rem;
    padding: 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

legend {
    text-align: center;
    color: var(--primary-light-text-color);
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

input {
    min-height: 1.4rem;
    font: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input:user-invalid {
    border: 2px solid var(--light-red-color);
}

input:user-valid {
    border: 2px solid var(--primary-blue);
}

fieldset > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

fieldset > div:last-child {
    padding-top: 2rem;
}

button {
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    background: var(--primary-blue);
    color: whitesmoke;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cancel-button {
    text-align: center;
    padding: 1rem 0;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 2px solid var(--primary-light-text-color);
    border-radius: 5px;
}

.error {
    font-size: 1rem;
    color: var(--light-red-color);
}