:root {
    --primary-light-text-color: #09090b;
    --button-text-color: #fafafa;
    --button-box-shadow-color: #a1a1a1;
    --light-red-color: #fb2c36;
    --dark-red-color: #9f0712;
    --light-gray: #e4e4e7;
    --primary-blue: #1447e6;
    --secondary-blue: #1c398e;
  }

body {
    display: grid;
    grid-template-columns: minmax(auto, 600px);
    place-content: center;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--primary-light-text-color);
    font-size: 1.2rem;
    padding: 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

legend {
    text-align: center;
    color: var(--primary-light-text-color);
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

fieldset > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

fieldset > div:last-child {
    flex-direction: row;
    gap: 1rem;
}

p {
    font-size: 1rem;
}

.choose-file-label {
    padding: 10px 20px;
    border: 2px solid var(--primary-light-text-color);
    border-radius: 5px;
}

button {
    padding: 12px 24px;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    font: inherit;
}

.cancel-button {
    padding: 10px 20px;
    border: 2px solid var(--primary-light-text-color);
    border-radius: 5px;
    text-decoration: none;
    color: var(--primary-light-text-color);
}

button:hover {
    background-color: var(--secondary-blue);
}

.cancel-button:hover, .choose-file-label:hover {
    background-color: var(--button-box-shadow-color);
}

.file {
    font-size: 1.2rem;
}

.error {
    color: var(--light-red-color);
}

.server-error {
    color: var(--light-red-color);
}